@media screen and (max-width: 1000px) {
   .hero {
      padding: 0 0 75px 0;
   }

   .hero__title {
      max-width: 458px;
      width: 100%;
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 48px;
   }

   .aboutme__ava {
      width: 100%;
      height: 600px;
   }

   /* PORTFOLIO PAGE */
   .manage__card-img, .bookmark__card-img, .insure__card-img, .fylo__card-img {
      height: 500px;
   }

}

@media screen and (max-width: 700px) {
   .header__menu-wrapper {
      display: block;
   }

   .header__list {
      display: none;
   }

   .header__list-open {
      display: block;
      flex-direction: column;
      position: absolute;
      width: 100%;
      background-color: #33323d;
      top: 100%;
      left: 0;
      text-align: center;
      padding: 20px 0;
      z-index: 1;
   }

   .header__link {
      display: inline-block;
      color: #fff;
      margin-bottom: 10px;
   }

   .hero {
      padding-bottom: 40px;
   }

   .hero__info {
      position: static;
      padding: 30px 30px 0 0;
   }

   .hero__title {
      margin-bottom: 15px;
   }

   .aboutme, .interested {
      padding: 40px 0;
   }

   /* PORTFOLIO PAGE */
   .manage {
      padding: 0 0 40px 0;
   }

   .bookmark, .insure, .fylo {
      padding: 40px 0;
   }

   .manage__card, .insure__card {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
   }

   .bookmark__card, .fylo__card {
      flex-direction: column-reverse;
      row-gap: 20px;
      align-items: center;
   }

   .manage__img-wraper, .bookmark__img-wraper, .insure__img-wraper, .fylo__img-wraper {
      width: 100%;
   }

   .manage__card-img, .bookmark__card-img, .insure__card-img, .fylo__card-img {
      height: auto;
   }

   .manage__card-info, .bookmark__card-info, .insure__card-info, .fylo__card-info {
      max-width: 100%;
      padding: 60px 0;
   }

   /* MANAGE PAGE */

   .hero-manage, .hero-bookmark, .insure-bookmark, .fylo-bookmark {
      padding: 0 0 22.5px 0;
   }

   .manage-preview, .bookmark-preview, .insure-preview, .fylo-preview {
      padding: 22.5px 0;
   }

   .manage-preview__content, .bookmark-preview__content, .insure-preview__content, .fylo-preview__content {
      flex-direction: column;
   }

   .manage-preview__left, .bookmark-preview__left, .insure-preview__left, .fylo-preview__left {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: auto;
      padding: 24px 0;
      margin-bottom: 40px;
      column-gap: 40px;
   }

   .manage-preview__right, .bookmark-preview__right, .insure-preview__right, .fylo-preview__right {
      max-width: 100%;
   }

   .manage-preview__right-text, .bookmark-preview__right-text, .insure-preview__right-text, .fylo-preview__right-text {
      max-width: 100%;
      margin-bottom: 30px;
   }

}

@media screen and (max-width: 600px) {
   .aboutme__content {
      flex-direction: column;
      row-gap: 20px;
   }

   .aboutme__img {
      margin-right: 0;
   }

   .aboutme__ava {
      height: auto;
      object-fit: cover;
      margin-right: 0;
   }

   .aboutme__info {
      max-width: none;
      padding-bottom: 10px;
   }

   .aboutme__title {
      margin: 24px 0;
   }

   .aboutme__text {
      text-align: justify;
   }

   .interested__line {
      display: none;
   }

   .footer__content {
      flex-direction: column;
      row-gap: 25px;
   }

   .footer__logo, .footer__list {
      margin-right: 0;
   }

   /* PORTFOLIO PAGE */
   .manage {
      padding-bottom: 20px;
   }

   .bookmark, .insure, .fylo {
      padding: 20px 0;
   }

   .manage__card-info, .bookmark__card-info, .insure__card-info, .fylo__card-info {
      padding: 30px 0;
   }
}

@media screen and (max-width: 500px) {
   .header {
      padding: 25px 0;
   }

   .interested__content {
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
   }

   .interested__title {
      max-width: none;
   }
}

@media screen and (max-width: 450px) {
   .container {
      padding: 0 10px;
   }

   .hero__title {
      max-width: 311px;
      width: 100%;
      margin-bottom: 5px;
   }

   /* PORTFOLIO PAGE */
   .manage__card-info, .bookmark__card-info, .insure__card-info, .fylo__card-info {
      text-align: center;
      padding: 20px 0;
   }

   .manage__card-text, .bookmark__card-text, .insure__card-info, .fylo__card-info {
      margin: 14px 0 18px 0;
   }


   /* MANAGE PAGE */

   .manage-preview__left, .bookmark-preview__left, .insure-preview__left, .fylo-preview__left  {
      flex-direction: column;
      margin-bottom: 25px;
   }

   .manage-preview__info, .bookmark-preview__info, .insure-preview__info, .fylo-preview__info  {
      width: 100%;
   }

   .manage-preview__links, .bookmark-preview__links, .insure-preview__links, .fylo-preview__links {
      width: 100%;
   }

   .manage-preview__text, .bookmark-preview__text, .insure-preview__text, .fylo-preview__text {
      max-width: 100%;
   }

   .navigation__content {
      padding: 20px 0;
   }

   .navigation__link {
      font-size: 24px;
      line-height: 28px;
   }
}

@media screen and (max-width: 400px) {
   .header {
      padding: 30px 0;
   }

   .hero__info {
      text-align: center;
      padding: 20px 0 0 0;
   }

   .hero__title, .aboutme__title, .interested__title {
      max-width: 100%;
      width: 100%;
      font-size: 32px;
      line-height: 30px;
   }

   .hero {
      padding-bottom: 20px;
   }

   .aboutme, .interested {
      padding: 20px 0;
   }

   .footer__list {
      flex-direction: column;
      row-gap: 15px;
   }

   /* PORTFOLIO PAGE */
   .manage__card-title, .bookmark__card-title, .insure__card-title, .fylo__card-title {
      font-size: 32px;
      line-height: 30px;
   }


   /* MANAGE PAGE */
   .manage-preview__title, .bookmark-preview__title, .insure-preview__title, .fylo-preview__title {
      font-size: 32px;
      line-height: 32px;
   }

   .manage-preview__text, .bookmark-preview__text, .insure-preview__text, .fylo-preview__text {
      margin: 15px 0;
   }

   .manage-preview__right-title, .bookmark-preview__right-title, .insure-preview__right-title, .fylo-preview__right-title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 15px;
   }

   /* Navigation */
   .navigation__back, .navigation__next {
      column-gap: 10px;
   }
}